* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: 'Outfit', sans-serif;
  background: linear-gradient(135deg, #153677, #4e085f);
}

.row {
  max-width: 1460px;
  width: 100%;
  margin: 0 auto;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/*Header*/

.header {
  display: flex;
  justify-content: space-between;
  align-self: center;
  margin-bottom: 18px;

}

.header__logo {
  margin-top: 37px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 1.2rem;
  background-image: linear-gradient(90deg, #FF6F6F, #DE14FF); 
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
}


.header__btn {
  margin-top: 34px;
}

.btn  {
  font-family: 'Outfit';
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 17px;
  color: #EFEFEF;
  background: linear-gradient(88.02deg, #0075FF -27.72%, #0075FF 119.65%);
  border-radius: 10px;
  border: none;
  padding: 10px 12px;
  line-height: 21px;
}

.btn a { 
  font-size: smaller;
  color: #EFEFEF;
  text-decoration: none;
  cursor: progress;
}

.border {
  max-width: 1900px;
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.37);
}


/*MAIN*/

.main {
  display: flex;
  gap: 190px;

}

.article {
  max-width: 560px;
  width: 100%;
  margin-top: 121px;
}

.article__header {
  background: linear-gradient(93.61deg, #15ECD2 2.99%, #FFEDAD 101.22%);
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 110%;
}

.article__text {
  color: rgba(21, 236, 211, 0.8);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  margin-top: 30px;
  margin-bottom: 40px;
}

.article__btn {
  margin-top: 10px;
}

.btn--rose {
  background: linear-gradient(272.5deg, #AE0894 -21.68%, #C91F99 106.69%);
}

.hero-block {
  max-width: 30rem;
  margin-top: 47px;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.hero-block img {
  margin-left: 50px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/*FOOTER SECTION*/

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  margin-top: 1.5rem;
}

.footer article {
  padding: 10px 0px;
  background: linear-gradient(93.61deg, #15ECD2 2.99%, #FFEDAD 101.22%);
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.footer article h2 {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  font-size: 32px;
  margin-bottom: 10px;
}

.footer article p {
  color: #15ECD3CC;
}
.footer__buttons  {
  position: absolute;
  bottom: -115px;
  text-decoration: none;
  margin-top: 10px;
  display: flex;
  gap: 20px;
}
  
.footer__buttons a {
  text-decoration: none;
  color: #fff;
}

.footer__btn   .footer__btn--blue {
  background-color: #0075FF;
  color: #fff;
  border-radius: 5px;
  padding: 10px 12px;
  font-size: 1.2rem;
}

.footer__btn .footer__btn--white {
  border-radius: 5px;
  padding: 10px 12px;
  font-size: 1.2rem;
  background-color: #fff;
  color: #111;
}

.footer__btn--white a {
  color: #111;
}

.footer__btn .footer__btn--rose {
  border-radius: 5px;
  padding: 11px 30px;
  font-size: 1.2rem;
  background: linear-gradient(0deg, #E019F8, #E019F8),
linear-gradient(0deg, rgba(255, 255, 255, 0.37), rgba(255, 255, 255, 0.37));

  color: #fff;
}

/* Media Queries */

@media (max-width: 768px) {
  .main {
    flex-direction: column;
    gap: 50px;
  }

  .hero-block {
    margin-left: 0;
    margin-right: 0;
  }

  .footer {
    margin-top: 50px;
  }
}

@media (max-width: 576px) {
  .header__text {
    margin-top: 24px;
    margin-bottom: 6px;
    font-size: 1.2rem;
  }

  .header__btn {
    margin-top: 20px;
  }

  .article__header {
    font-size: 36px;
  }

  .article__text {
    font-size: 16px;
  }

  .footer__btn .footer__btn--blue,
  .footer__btn .footer__btn--white,
  .footer__btn .footer__btn--rose {
    padding: 8px 10px;
    font-size: 1rem;
  }

  
  
  .hero-block__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

/* Media Queries */

/* Extra small devices (phones) */
@media (max-width: 576px) {
  .header__text {
    margin-top: 24px;
    margin-bottom: 6px;
    font-size: 1.2rem;
  }

  .header__btn {
    margin-top: 30px;
  }

  .article__header {
    font-size: 36px;
  }

  .article__text {
    font-size: 16px;
  }

  .footer__btn .footer__btn--blue,
  .footer__btn .footer__btn--white,
  .footer__btn .footer__btn--rose {
    padding: 8px 10px;
    font-size: 1rem;
  }

}

/* Small devices (landscape phones) */
@media (min-width: 320px) and (max-width: 575px) {
  .footer__btn .footer__btn--rose {
    padding: 15px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .main {
    gap: 50px;
  }

  .hero-block  {
    display: grid;
    margin: 0 auto;
  }

  .footer {
    margin-top: 50px;
  }
}

/* Medium devices (tablets) */
@media (min-width: 768px) and (max-width: 991px) {
  .main {
    gap: 80px;
  }
}

/* Large devices (desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    padding: 0 40px;
  }
}

/* Extra large devices (large desktops) */
@media (min-width: 1200px) {
  .container {
    padding: 0;
  }
}
/* Media Queries */

@media (max-width: 768px) {
  .main {
    flex-direction: column;
    gap: 50px;
  }

  .hero-block {
    margin-left: 0;
    margin-right: 0;
  }

  .footer {
    margin-top: 50px;
  }
}

@media (max-width: 576px) {
  .header__text {
    margin-top: 24px;
    margin-bottom: 6px;
    font-size: 1.2rem;
  }

  .header__btn {
    margin-top: 20px;
  }

  .article__header {
    font-size: 36px;
  }

  .article__text {
    font-size: 16px;
  }

  .footer__btn .footer__btn--blue,
  .footer__btn .footer__btn--white,
  .footer__btn .footer__btn--rose {
    padding: 8px 10px;
    font-size: 1rem;
  }

  
  
  .hero-block__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

/* Media Queries */

/* Extra small devices (phones) */
@media (max-width: 576px) {
  .header__text {
    margin-top: 24px;
    margin-bottom: 6px;
    font-size: 1.2rem;
  }

  .header__btn {
    margin-top: 30px;
  }

  .article__header {
    font-size: 36px;
  }

  .article__text {
    font-size: 16px;
  }

  .footer__btn .footer__btn--blue,
  .footer__btn .footer__btn--white,
  .footer__btn .footer__btn--rose {
    padding: 8px 10px;
    font-size: 1rem;
  }

}

/* Small devices (landscape phones) */
@media (min-width: 320px) and (max-width: 575px) {
  .footer__btn .footer__btn--rose {
    padding: 15px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .main {
    gap: 50px;
  }

  .hero-block  {
    display: grid;
    margin: 0 auto;
  }

  .footer {
    margin-top: 50px;
  }
}

/* Medium devices (tablets) */
@media (min-width: 768px) and (max-width: 991px) {
  .main {
    gap: 80px;
  }
}

/* Large devices (desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    padding: 0 40px;
  }
}

/* Extra large devices (large desktops) */
@media (min-width: 1200px) {
  .container {
    padding: 0;
  }
}
